body {
    background-color: #000000;
    margin: 0;
    padding: 0;
}


.header {
    text-align: left;
    font-size: 60px;
    font-family: arial;
    color: #ffffff;
    margin: 0px;
    background-color: #333333;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: shown;
    background-color: #333333;
    min-height: 46.4px;
}


ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



ul li a:hover:not(.active) {
    background-color: #111111;
}



ul li a.active {
    background-color: #26317a;
}



li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



li a:hover,
.dropdown:hover .dropbtn {
    background-color: #111111;
}



li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}



.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}



.dropdown-content a:hover {
    background: #333333;
}



.dropdown:hover .dropdown-content {
    display: block;
}

ul {
    position: sticky;
    top: 0;
}

ul li a.act2 {
    background-color: #333333;
}



.button {
    padding: 12px 16px;
    padding-right: 80px;
    color: white;
    background-color: #333;
    text-align: center;
    border: none;
}



.button:hover {
    background-color: #111;
}



footer {
    background-color: #333;
    height: 300px;
    padding: 80px;
}



footer a {
    font-size: 55px;
    color: #fff;
}



@font-face {
    font-family: BBHBartle-Regular;
    src: url(BBHBartle-Regular.woff2);
}

.bbh {
    font-family: BBHBartle-Regular;
}

@font-face {
    font-family: patricstar;
    src: url(PatrickHand-Regular.ttf);
}

.phr-font {
    font-family: patricstar;
}

@font-face {
    font-family: Lordcorps;
    src: url(Lordcorps.otf);
}

.lc-font {
    font-family: Lordcorps;
}

@font-face {
    font-family: minecraft;
    src: url(MinecraftTen-VGORe.ttf);
}

.mc-font {
    font-family: minecraft;
}

.link {
    position: relative;
    list-style: none;
    padding: 0;
}

.link::after,
.link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #777;
    transition: all 0.6s ease-in-out;
}



.link::after {
    top: 0;
    right: 0;
    transform-origin: right;
}

.link::before {
    left: 0;
    bottom: 0;
    transform-origin: left;
}

.link:hover::after,
.link:hover::before {
    width: 100%;
}

.hh1 {
    text-align: center;
    font-size: 120px;
    font-family: arial;
    color: red;
}

.hp1 {
    text-align: center;
    font-size: 50px;
    font-family: arial;
    color: red;
    display: block;
}

.hh2 {
    text-align: left;
    font-size: 100px;
    font-family: subpixel-antialiased;
    color: rgb(0, 255, 0);
    margin-top: 480px;
}

.hp2 {
    text-align: left;
    font-size: 50px;
    font-family: subpixel-antialiased;
    color: rgb(0, 255, 0);
    display: block;
}

.hh3 {
    text-align: right;
    font-size: 120px;
    font-family: sans-serif;
    color: #0000FF;
    margin-top: 480px;
}

.hp3 {
    text-align: right;
    font-size: 50px;
    font-family: sans-serif;
    color: #0000FF;
    display: block;
}

#currentTime {
    font-size: 16px;
    font-family: Lordcorps;
    text-align: center;
    color: #fff;
    margin: 0px;
    padding: 14px 16px;
    font-weight: normal;
}



.ch1 {
    text-align: center;
    font-size: 120px;
    font-family: Lordcorps;
    color: #fff;
}

.cp1 {
    text-align: center;
    font-size: 50px;
    font-family: Lordcorps;
    color: #fff;
    display: block;
}

.ah1 {
    text-align: center;
    font-size: 120px;
    font-family: Lordcorps;
    color: #fff;
}

.ap1 {
    text-align: center;
    font-size: 50px;
    font-family: Lordcorps;
    color: #fff;
    display: block;
}



.lh1 {
    text-align: center;
    font-size: 120px;
    font-family: Lordcorps;
    color: #fff;
}

.lp1 {
    text-align: center;
    font-size: 50px;
    font-family: Lordcorps;
    color: #fff;
    display: block;
}



@media (prefers-color-scheme: light) {
    body.dark-mode {
        background-color: white !important;
    }

    .header.dark-mode {
        color: #000 !important;
        background-color: #ccc !important;
    }

    ul.dark-mode {
        background-color: #ccc !important;
    }

    ul li a.dark-mode {
        color: #000000 !important;
    }

    ul li a:hover:not(.active).dark-mode {
        background-color: #eee !important;
    }

    ul li a.active.dark-mode {
        background-color: #6464ff;
    }

    li a.dropbtn.dark-mode {
        color: black !important;
    }

    li a:hover,
    .dropdown:hover.dropbtn .dark-mode {
        color: #eee !important;
    }

    .dropdown-content.dark-mode {
        background-color: #ccc !important;
    }

    .dropdown-content a.dark-mode {
        color: black !important;
    }

    .dropdown-content a:hover .dark-mode {
        background: #ccc !important;
    }

    ul li a.act2.dark-mode {
        background-color: #ccc !important;
    }

    .button.dark-mode {
        color: #000 !important;
        background-color: #ccc !important;
    }

    .button:hover .dark-mode {
        background-color: #eee !important;
    }

    footer.dark-mode {
        background-color: #ccc !important;
    }

    footer a.dark-mode {
        color: #000 !important;
    }

    .link::after,
    .link::before .dark-mode {
        background: #888 !important;
    }

    #currentTime.dark-mode {
        color: #000 !important;
    }

    .ch1.dark-mode {
        text-align: center;
        font-size: 120px;
        font-family: Lordcorps;
        color: #000;
    }

    .cp1.dark-mode {
        text-align: center;
        font-size: 50px;
        font-family: Lordcorps;
        color: #000;
        display: block;
    }

    .ah1.dark-mode {
        text-align: center;
        font-size: 120px;
        font-family: Lordcorps;
        color: #000;
    }

    .ap1.dark-mode {
        text-align: center;
        font-size: 50px;
        font-family: Lordcorps;
        color: #000;
        display: block;
    }

    .lh1.dark-mode {
        text-align: center;
        font-size: 120px;
        font-family: Lordcorps;
        color: #000;
    }

    .lp1.dark-mode {
        text-align: center;
        font-size: 50px;
        font-family: Lordcorps;
        color: #000;
        display: block;
    }
}